body {
  padding-top: 50px;
}

.background {
    position: relative;
    width: 100%;
    min-height: auto;
    background-image: url('../images/twelve-apostles.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

