{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            Cory and Ro are blessed enough with each other and all of their wonderful family and friends.
            In lieu of gifts, we'd love for you all to make a donation to one of the great causes below.
        </p>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/la-strada.jpg' %}" class="img-responsive" alt="" style="padding-top: 60px;">
                    <h3>La Strada</h3>
                    <p>
                        <a href="http://lastradainternational.org/">La Strada</a> works to eliminate gender-based discrimination and violence in Eastern Europe;
                        to prevent trafficking of women and children; and to promote human rights, gender equality and children's rights.
                        This includes an emphasis on improving state policy and research; advocacy and education campaigns;
                        social assistance to victims of violence;
                        and operating Ukraine’s only hotline for the prevention and protection of women and children’s rights.
                    </p>
                    <p>
                        TO DONATE: La Strada Ukraine currently does not have a good international donations platform.
                        In order to minimize excessive international wire transfer fees, guests who wish to donate to La Strada can give cash (CAD or USD) or cheques (Canadian or American) addressed to Rowena in the gift box available at the wedding.
                        Please write 'La Strada' clearly on the memo line of the cheque or in the card.
                        We'll ensure the money is safely and directly delivered to La Strada.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/spark.jpg' %}" class="img-responsive" alt="">
                    <h3>Spark Microgrants</h3>
                    <p>
                        <a href="http://www.sparkmicrogrants.org/">Spark MicroGrants</a> is a small NGO pioneering a new method of community development.
                        Spark supports rural poor communities to design, implement and manage their own social impact projects.
                        They provide micro-grants of between $2,000-$10,000 to enable project implementation, such as of a school, electricity line or farm.
                        No interest or repayment of the funds granted is requested.
                        To date Spark has partnered with over 100 communities in Rwanda, Uganda, and Burundi who have developed local project plans and are in the process of implementing them.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/acf.jpg' %}" class="img-responsive" alt="">
                    <h3>African Conservation Foundation</h3>
                    <p>
                        The <a href="http://www.africanconservation.org/about-us">African Conservation Foundation</a> is working towards the protection and conservation of Africa's endangered wildlife and their habitats.
                        Founded in 1999, ACF fills a unique niche by creating an Africa-wide network for information exchange and capacity building of conservation efforts in the region.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/climate-reality.jpg' %}" class="img-responsive" alt="">
                    <h3>Climate Reality Project</h3>
                    <p>
                        The <a href="https://www.climaterealityproject.org/">Climate Reality Project</a> is an organization founded by Al Gore whose mission is to catalyze a global solution to the climate crisis by making urgent action a necessity across every level of society.
                    </p>
                </div>
            </div>

        </div>
        <hr class="light">
        <p>
            If you still feel moved to give a gift, please keep in mind that we live on the other side of the world (almost exactly), which means a virtual or monetary gift is much easier than a physical gift.
        </p>
</div>
