<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">The view of Hout Bay from from Chapman's peak the day we got engaged.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                Cory bought a ring in India and, without a better plan, decided he would carry it around in his pocket until the right moment presented itself.
                That lasted about three days.
                The first weekend after Cory returned, we decided to go for a hike up Chapman’s Peak, a mountain south of Cape Town.
                The wind was intense, the trail was closed, and all the vegetation had just burnt down in a forest fire, but we climbed up anyways.
                At the top, with Hout Bay beach unfolding behind us, Constantia to the North, the Atlantic Ocean to our left and the Indian Ocean to our right,
                Cory popped the question and we agreed to spend the rest of our lives together.
                Good timing too, because minutes later the clouds rolled in and eclipsed everything.
            </p>
        </div>
    </div>
</section>
