{% load static %}
<section id="wedding-party">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Bridal Party</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/stella.jpg' %}" class="img-responsive" alt="">
                    <h3>Stella Luk</h3>
                    <p class="text-muted">Ro's sister Stella is a punk! {% lorem  %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/250/250" class="img-responsive" alt="">
                    <h3>Cynthia Luk</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/251/251" class="img-responsive" alt="">
                    <h3>Dora Goulet</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/252/252" class="img-responsive" alt="">
                    <h3>Signy Chow</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Groomsmen</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/tim.jpg' %}" class="img-responsive" alt="">
                    <h3>Tim Zue</h3>
                    <p class="text-muted">Tim is alright I guess.{% lorem  %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/253/253" class="img-responsive" alt="">
                    <h3>Andrew Marder</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/254/254" class="img-responsive" alt="">
                    <h3>Carter Powers</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/255/255" class="img-responsive" alt="">
                    <h3>Geoff Ebeling</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
