{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{#{% block page_head %}#}
{#    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">#}
{#{% endblock %}#}
{% block page_content %}
    <div class="container">
        <section class="col-md-12 text-center">
            <div>
                <h2>Boda Ana y Guillem</h2>
                <p class="lead">
                    20 de Junio de 2020, a las 5:30 pm<br>
                    Parroquia de Nuestra Señora de Atocha<br>
                    Casal Santa Eulàlia, Santa Margalida
                </p>
            </div>
        </section>
        <section class="col-md-12">
            <form data-toggle="validator" method="post">
                <h2 id="rsvp-header" class="text-center">{% trans "Confirmación" %}</h2>
                {% csrf_token %}
                {% for guest in party.ordered_guests.all %}
                    <div class="card" data-is-child="{{ guest.is_child }}">
                        {% with guest.unique_id as attending_label %}
                            <div class="card-body">
                                <h5 class="card-title">{% trans "Hola" %}, {{ guest.name }}</h5>
                                <div class="form-group">
                                    <strong><label for="attending-{{ attending_label }}">{% trans "¿Asistirás?" %}</label><br/></strong>
                                    <input type="radio" name="attending-{{ attending_label }}" value="yes"
                                           {% if guest.is_attending %}checked="checked"{% endif %} required/> {% trans "¡Sí!" %}
                                    <input type="radio" name="attending-{{ attending_label }}" value="no"
                                           {% if guest.is_attending == False %}checked="checked"{% endif %} required> {% trans "No" %}
                                    <br/>
                                    <strong><label for="song-{{ attending_label }}">{%  trans "¿Alguna canción que te gustaría bailar?" %}</label></strong><br/>
                                    <input type="text" name="song-{{ attending_label }}" required
                                           value="{{ guest.song }}"><br/>
                                    <small>{% trans "Puedes poner el link de Spotify" %}</small>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                {% endfor %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans "¿Necesitáis transporte?" %}</h5>
                        <input class="attending-radio" type="radio" name="transporte" value="no"
                               {% if party.transport == 'no' %}checked="checked" {% endif %} required> {% trans "No" %}<br/>
                        <input class="attending-radio" type="radio" name="transporte" value="manacor"
                               {% if party.transport == 'manacor' %}checked="checked" {% endif %} required> {% trans "Sí, desde Manacor" %}<br/>
                        <input class="attending-radio" type="radio" name="transporte" value="canpicafort"
                               {% if party.transport == 'canpicafort' %}checked="checked" {% endif %} required> {% trans "Sí, desde Ca'n Picafort" %}<br/>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="cart-title">{% trans "¿Alguna alergia o intolerancia?" %}</h5>
                            <textarea class="col-sm-12" name="comentarios"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <input type="submit" class="btn btn-primary" value="{% trans "Enviar" %}"/>
                </div>
            </form>
        </section>
    </div>
{% endblock %}