{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block page_head %}
  <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
  <div class="layer"></div>
  <div class="container" id="main">
    <h2>
      {% blocktrans %}Hi {{ party.name }}! Thanks for your response!{% endblocktrans %}
    </h2>
    {% if party.any_guests_attending %}
      <p>
        {% trans "We can't wait to celebrate with you in Niagara!" %}
      </p>
      <p>
        {% trans "If you have any other questions, don't hesitate to email us at" %}
        <a href="mailto:fieche.gutierrez@gmail.com">fieche.gutierrez@gmail.com</a>.
      </p>
    {% else %}
      <p>
        {% trans "We're sorry you won't be able to join us in Strasbourg!" %}
      </p>
      <p>
        {% trans "We look forward to catching up with you some other time!" %}
      </p>
    {% endif %}
    <p>{% trans "- Théo and Violeta" %}</p>
  </div>
{% endblock %}
0