{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    {% include 'guests/navbar.html' %}
    </br>
    </br>
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Hi {{ party.name }}! Thanks for your response!</h2>
        {% if party.any_guests_attending %}
            <p>
                We can't wait to celebrate with you in Livonia!
            </p>
            <p>
                If you've got a minute, you can help us out by filling in a <a href="https://forms.gle/Wwwt2iQT4JXyVv679">super quick survey</a> that will help us plan for the most fun and smooth event possible.  You can even add a song request as well.
            </p>
            <p>
                If you plan on booking a hotel room, we have a wedding block available at the <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1645267315857&key=GRP&app=resvlink">Fairfield Inn & Suites</a> for $109/night.  Bookings will need to be completed by June 10, 2022.
            </p>
            <p>
                If you have any other questions, don't hesitate to email us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>
            </p>
        {% else %}
            <p>
                We're sorry you won't be able to join us in Livonia on July 2, 2022. Your RSVP has been noted. 
            </p>
            <p>
                We look forward to catching up with you some other time!
            </p>
        {% endif %}
        <p>
            - Jacob and Kim
        </p>
    </div>
{% endblock %}
