<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
        <title>Update your Information</title>
    </head>
    <body>
        
        {% include 'guests/message.html' %}
        <h1><u> Update Information Yo </u></h1>
        <!--<div style = "max-width:470px;"> -->
        <div>
            {{ form.guest }}
            {% for guest in form %}
                {{ guest.as_p }}
                </br>
                </br>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" class="btnbtn-primary" value="submit" name="submit">
        </div>
        <!--</div>-->
            <!-- Optional Javascript -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

      </body>
</html>
