{% extends 'guests/email_templates/email_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block header_image %}{% endblock %}
{% block lead_copy %}
{% endblock %}
{% block main_image %}
    {% with "invitation/images/"|add:main_image as main_static_url %}
    <a href="{% if email_mode %}https://fiechegutierrez.com{% endif %}{% url 'invitation' invitation_id %}" target="_blank">
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
            alt="{% trans "Théo and Violeta" %}"
            style="display: block; padding: 0; color: #666666; margin: 15px"
            class="img-max" border="0"
            height="auto" width="100%">
    </a>
    <table>
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="{% if email_mode %}https://fiechegutierrez.com{% endif %}{% url 'invitation' invitation_id %}" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #eeeeee; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #825B6F; border-top: 12px solid #825B6F; border-bottom: 12px solid #825B6F; border-right: 18px solid #825B6F; border-left: 18px solid #825B6F; display: inline-block;">
                                        {% trans "View invitation" %}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {% endwith %}
{% endblock %}
{% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
                class="padding-copy" align="center">
              {% trans "Théo & Violeta's wedding" %}<br>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block footer_content %}
  <a href="{% if email_mode %}https://fiechegutierrez.com{% endif %}{% url 'invitation' invitation_id %}">
    {% trans "Please view the invitation online to rsvp." %}
  </a>
    {% if email_mode %}
      <p><a href="https://fiechegutierrez.com">https://fiechegutierrez.com</a></p>
    {% endif %}
{% endblock %}
