{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="font-size: 35px; font-family: Palatino, serif; color: {{ font_color }}; padding-top: 30px; font-weight:bolder;"
                class="padding-copy"
                align="center">
                July 2, 2016
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
                class="padding-copy"
                align="center">
                Cory &amp; Rowena<br>
                Niagara-on-the-Lake, Ontario, Canada<br>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
