{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block content %}
    <title>Cory and Rowena - Save the Date!</title>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="padding: 20px 15px 20px 15px;"
            class="section-header" align="center" bgcolor="#ffffff"
            width="100%">
            <!-- HIDDEN PREHEADER TEXT -->
            <div style="display: none; font-size: 1px; color: #fefefe;
              line-height: 1px; font-family: Helvetica, Arial,
              sans-serif; max-height: 0px; max-width: 0px; opacity: 0;
              overflow: hidden;"> The date that you've eagerly been waiting for is finally here.
                Cory and Ro are getting married! Save the date!</div>
            <table class="wrapper" align="center" border="0" width="500"
              cellpadding="0" cellspacing="0">
              <!-- LOGO/PREHEADER TEXT --> <tbody>
                <tr>
                  <td align="center">
                    <table border="0" width="100%" cellpadding="0"
                      cellspacing="0">
                      <tbody>
                        <tr>
                            <td align="center" bgcolor="#ffffff">
                                {% with "save-the-date/images/"|add:header_filename as header_filepath %}
                                    <img src="{% if email_mode %}cid:{{ header_filename }}{% else %}{% static header_filepath %}{% endif %}"
                                         style="display: block; align-content:center; font-size: 16px;"
                                         border="0"
                                         height="60" width="60">
                                {% endwith %}
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="padding: 20px 15px 20px 15px;"
            class="section-padding" align="center" bgcolor="{{ main_color }}">
            <table class="responsive-table" border="0" width="500"
              cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <table border="0" width="100%" cellpadding="0"
                      cellspacing="0">
                      <tbody>
                        <tr>
                          <td class="padding-copy">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td><a href="http://coryandro.com/"{% if email_mode %}target="_blank"{% endif %}>
                                  {% with "save-the-date/images/"|add:main_image as main_static_url %}
                                      <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}" alt="cory and rowena"
                                        style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
                                        class="img-max" border="0"
                                        height="400" width="500">
                                  {% endwith %}
                                  </a> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <!-- COPY -->
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="font-size: 35px; font-family: Palatino, serif; color: {{ font_color }}; padding-top: 30px; font-weight:bolder;"
                                      class="padding-copy"
                                      align="center">
                                      July 2, 2016
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
                                      class="padding-copy"
                                      align="center">
                                          Cory &amp; Rowena<br>
                                          Niagara-on-the-Lake, Ontario, Canada<br>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="center" bgcolor="#ffffff">
            <table align="center" border="0" width="100%" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="padding: 20px 0px;" align="center">
                    <table class="responsive-table" align="center" border="0" width="500" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td class="padding-copy"
                              style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;"
                              align="center">
                              <span class="appleFooter"
                                    style="color:#666666; align-content:center;">
                                  Can't make it? Let us know at <a class="moz-txt-link-abbreviated" href="mailto:rsvp@coryandro.com">rsvp@coryandro.com</a>.
                                  {% if email_mode %}
                                  <p><a href="http://coryandro.com">http://coryandro.com</a></p>
                                  {% endif %}
                              </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
