{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block main_image %}
    <a href="{{ site_url }}"
       {% if email_mode %}target="_blank"{% endif %}>
    {% with "save-the-date/images/"|add:main_image as main_static_url %}
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
             alt="{{ couple }}"
             style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
             class="img-max" border="0"
             height="400" width="500">
    {% endwith %}
    </a>
{% endblock %}
{% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="font-size: 35px; font-family: Palatino, serif; color: {{ font_color }}; padding-top: 30px; font-weight:bolder;"
                class="padding-copy"
                align="center">
                July 2, 2016
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
                class="padding-copy"
                align="center">
                {{ couple }}<br>
                Niagara-on-the-Lake, Ontario, Canada<br>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block footer_content %}
    Can't make it? Let us know at <a class="moz-txt-link-abbreviated" href="mailto:{{ rsvp_address }}">{{ rsvp_address }}</a>.
    {% if email_mode %}
        <p><a href="{{ site_url }}">{{ site_url }}</a></p>
    {% endif %}
{% endblock %}
