{% extends "guests/email_templates/save_the_date.html" %}
{% load staticfiles %}
{% block save_the_date %}
    <td style="padding: 20px 15px 15px 15px;"
            class="section-padding" align="center" bgcolor="#ea2e2e">
            <table class="responsive-table" border="0" width="500"
              cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <table border="0" width="100%" cellpadding="0"
                      cellspacing="0">
                      <tbody>
                        <tr>
                          <!-- HERO IMAGE --> <td class="padding-copy">
                            <table border="0" width="100%"
                              cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <a href="#" target="_blank"><img
src="{% if email_mode %}cid:selfie.jpg{% else %}{% static 'save-the-date/images/canada-cartoon.jpg' %}{% endif %}" alt="cory and rowena"
                                        style="display: block; padding:
                                        0; color: #666666;
                                        text-decoration: none;
                                        font-family: Helvetica, arial,
                                        sans-serif; font-size: 16px;"
                                        class="img-max" border="0"
                                        height="400" width="500"></a> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <!-- COPY -->
                            <table border="0" width="100%"
                              cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="font-size: 35px;
                                    font-family: Palatino, serif; color:
                                    #e5ddd9; padding-top: 30px;
                                    font-weight:bolder;"
                                    class="padding-copy" align="center">July
                                    2, 2016</td>
                                </tr>
                                <tr>
                                  <td style="padding: 20px 0 0 0;
                                    font-size: 16px; line-height: 20px;
                                    font-family: Helvetica, Arial,
                                    sans-serif; color: #e5ddd9;
                                    font-weight:bold;"
                                    class="padding-copy" align="center">
                                    Save the Date for Cory &amp; Rowena<br>
                                    Niagara-on-the-Lake, Ontario, Canada<br>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <!-- BULLETPROOF BUTTON -->
                            <table class="mobile-button-container"
                              border="0" width="100%" cellpadding="0"
                              cellspacing="0">
                              <tbody>
                                <tr>
                                  <td style="padding: 25px 0 0 0;"
                                    class="padding-copy" align="center">
                                    <table class="responsive-table"
                                      border="0" cellpadding="0"
                                      cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td align="center"><br>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
{% endblock %}
