<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Where to Stay</h2>
            <hr class="primary">
            <p>
                Below is a brief list of recommendations on places to stay in Niagara-on-the-Lake. It is Canada Day weekend - a big deal! - so we do recommend reserving your accommodation early. We'll be staying in the town of Niagara-on-the-Lake, which is a great option if you can find a rental or B&B, though unfortunately it doesn't have a lot of big hotels. 
            </p>
            <h3>Hilton Garden Inn</h3>
            <p>
                The <a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-niagara-on-the-lake-XLVNLGI/index.html">Hilton Garden Inn</a> is conveniently located just off the highway and very close to the wedding venue.
                It is about a 20 minute drive to downtown Niagara-on-the-Lake.
                We have a block of discounted rooms reserved.
                Use the code <code>LZW16</code> to get the group discount.
            </p>
            <h3>White Oaks Resort</h3>
            <p>
                The White Oaks is very close to - and similar to - the Hilton Garden Inn.
                We were unable to get a group rate so just make a normal booking through <a href="http://www.whiteoaksresort.com/index.html">their website</a>.
            </p>
            <h3>Vacation rentals</h3>
            <p>
                Both <a href="https://www.vrbo.com/">VRBO</a> and <a href="https://www.airbnb.com/">airbnb</a> have a number of vacation rentals in the area.
                This is a highly recommended, and often more affordable option.
                You can use the following links to start your searches: <a href="https://www.vrbo.com/vacation-rentals/canada/ontario/niagara-on-the-lake?sleeps=2-plus&from-date=2016-07-01&to-date=2016-07-03">VRBO</a>, <a href="https://www.airbnb.com/s/Niagara~on~the~Lake--Canada?checkin=07%2F01%2F2016&checkout=07%2F03%2F2016&guests=2">airbnb</a>.
            </p>
            <h3>Bed and Breakfasts</h3>
            <p>
                Another great option is Bed and Breakfasts.
                There a large number of B&B's listed on <a href="https://www.tripadvisor.co.za/Hotels-g154999-Niagara_on_the_Lake_Ontario-Hotels.html">trip advisor</a> and <a href="http://www.bedandbreakfast.com/niagara-on-the-lake-ontario.html">bedandbreakfast.com</a>.
            </p>

        </div>
    </div>
</div>
