<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">La ceremonia</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Foto</dt>
                    <dd>
                        Texto expilcativo
                    </dd>
                   <dt>
                       Como llegar
                   </dt>
                    <dd>Explicación</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">La fiesta</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Foto</dt>
                    <dd>Texto explicativo</dd>
                    <dt>Como llegar</dt>
                    <dd>lablaldsalkjfkdsjalhsdfqwefwqgdifugasdfa</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
