<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">La ceremonia</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Foto</dt>
                    <dd>
                        La ceremonia será en la Parroquia de Nuestra Señora de Atocha, en Ariany a las 17:30.
                    </dd>
                   <dt>
                       Como llegar
                   </dt>
                    <dd>
                        Para los que estéis en Ca'n Picafort o Manacor, dispondréis de buses que os recogerán y os llevaran tanto a la ceremonia como a la fiesta.
                        Si vais a ir a Ariany por vuestros propios medios, podéis encontrar donde está situado haciendo click <a href="https://www.google.com/maps/place/Parroquia+de+Nuestra+Se%C3%B1ora+de+Atocha/@39.6510355,3.1101702,17z/data=!4m13!1m7!3m6!1s0x12963527519f2851:0xaa2b1a4a9416fa49!2s07529+Ariany,+Balearic+Islands!3b1!8m2!3d39.650895!4d3.1121146!3m4!1s0x1296352635b7c985:0xe326d5b45c89d1b0!8m2!3d39.6487976!4d3.1089465" target="_blank">aquí</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">La fiesta</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Foto</dt>
                    <dd>La celebración de tan magno evento será en Casal Santa Eulàlia, entre Ca'n Picafort y Santa Margalida</dd>
                    <dt>Como llegar</dt>
                    <dd>
                        Si no queréis llevar vuestro coche igual que para la ceremonia, habrá un bus que os llevará de la Parroquia hasta el lugar de la celebración.
                        Si queréis llegar por vuestra cuenta, el Casal se encuentra <a href="https://www.google.com/maps/place/Casal+Santa+Eul%C3%A0lia+Hotel+%26+Restaurant/@39.7543731,3.1326613,17z/data=!3m1!4b1!4m8!3m7!1s0x129632131a8e94f3:0xa35c131e373324f3!5m2!4m1!1i2!8m2!3d39.754369!4d3.13485" target="_blank">aquí</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
