<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Event Details</h2>
            <hr class="primary">
            <p>Friday Night Welcome</p>
            <dl class="dl-horizontal lead">
                <dt>When</dt>
                <dd>Canada Day 2016(July 1) at 9:00 pm</dd>
                <dt>Where</dt>
                <dd>Oast House Brewers</dd>
				<dd>2017 Niagara Stone Rd, Niagara-on-the-Lake, ON L0S 1J0, Canada</dd>
				<dd>Phone: +1 905-262-8463</dd>
			</dl>
			<br/>
            <p>Ceremony and Reception</p>
			<dl>
                <dt>When</dt>
                <dd>July 2, 2016, at 4:30 pm</dd>
                <dt>Where</dt>
				<dd>Ravine Vineyard</dd>
				<dd>2017 Niagara Stone Rd, Niagara-on-the-Lake, ON L0S 1J0, Canada</dd>
				<dd>Phone: +1 289-868-9627</dd>
            </dl>
            <br/>
            <p class="text-center">More details to come...</p>
        </div>
    </div>
</div>
