{% load static %}
<section id="gallery" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Photos</h2>
                <hr class="primary">
                <p>
                    We had a lot of fun throughout the years. Here's some pictures of our journey!!
                </p>
            </div>
        </div>
    </div>
	<div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/firstphotoa.jpg' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/cranbrook2b.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/sunflower1a.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii13a.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii11a.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/treelighting3a.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/detroit.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/belleisle2.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/apple.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/birthday.JPG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/chicago.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/cleveland.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii6.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii2.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii5.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii7.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii8.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/hawaii10.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/trail1.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/trail2.jpg' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/trail2.jpg' %}" class="img-responsive" alt="">
                </div>
            </div>
		</div>
	</div>
</section>



