{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
    <p>
    If you cannot decide on a gift, here's a short list of things that we're positive they'll serve us well in our marriage.
    <br>
        If you chose one of them, please don't forget to mark it for others to see.
    </p>
    <p>
        <a href="https://docs.google.com/document/d/1USDJk8zKEPVCo2B0beWqtOwyByHujUWlEciYlN8ZGNc/edit?usp=sharing">The list</a>
    </p>


        <h2 class="section-heading text-center">Charity instead of flowers</h2>
        <hr class="primary">
    <div class="row">
        <div class="col-lg-3">
            <div class="charity-box">
                <a href="https://dara.kz/"><img src="{% static 'bigday/images/0-dara2.png' %}" class="img-responsive" alt=""></a>

            </div>
        </div>
                <p>
                    Although flowers are very beautiful, they wither and fade. We're going for a honeymoon trip almost right after the wedding, so unfortunately we won't even be able to enjoy their beauty :(
                <br>
                    Therefore, if you wanted to bring some, we'd like to ask you to donate to <a href="https://dara.kz/">DARA Foundation </a> instead.
                    <br>
                    We'll have a box to collect donations in any currency after the wedding ceremony and will arrange their safe transport to DARA in Almaty.
                </p>
                <p>
                    The mission of the Dara Foundation is the implementation of projects aimed at helping children’s health facilities, orphanages, and boarding schools for children with disabilities.
                <br>
                    Dara carries out its activities to improve living conditions and expand opportunities for development of orphans, children with disabilities and sick children.
                </p>

    </div>


</div>
