<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Lodging</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>For those coming in form out of town, welcome! </p>
            <p>Livonia is located about 30 minutes from downtown Detroit and also 25 minutes from the Detroit Metropolitan Airport (DTW). </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                It is July fourth weekend - a big deal! - so we do recommend reserving your accommodation early.
            </p>
            <!-- /
            <p>There will not be a shuttle from the HOTEL to St. Edith for the wedding ceremony. There will be a shuttle that runs from HOTEL to VENUE every hour from 5:30PM - 1:00AM.
			</p>
            -->
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Wedding Block</th>
                    <td>
                        The <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1645267315857&key=GRP&app=resvlink">Fairfiled Inn & Suites</a> is conveniently located just off the highway and very close to the wedding venue.
                        We have a block of discounted rooms reserved there for $109 a night. Please use the hyperlink or call the Fairfield Inn & Suites and reserve under Le/Rener Wedding by June 10, 2022.
                    </td>
                </tr>
                <tr>
                    <th>Hotel Information</th>
                    <td>
                        Fairfield Inn & Suites Detroit Livonia <br>
                        17350 Fox Dr, Livonia, MI 48152<br>
                        (734) 953-8888<br>
                        <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1645267315857&key=GRP&app=resvlink">Le/Rener Wedding Block </a> for discounted rooms for $109 a night. Bookings will need to be completed by June 10, 2022. </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
