<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Lodging</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>For those coming in form out of town, welcome! </p>
            <p>Livonia is located about 30 minutes from downtown Detroit and also 25 minutes from the Detroit Metropolitan Airport (DTW). </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                It is July fourth weekend - a big deal! - so we do recommend reserving your accommodation early.
            </p>
            <!-- /
            <p>There will not be a shuttle from the HOTEL to St. Edith for the wedding ceremony. There will be a shuttle that runs from HOTEL to VENUE every hour from 5:30PM - 1:00AM.
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">HOTEL</th>
                    <td>
                        The <a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-niagara-on-the-lake-XLVNLGI/index.html">Hilton Garden Inn</a> is conveniently located just off the highway and very close to the wedding venue.
                        We have a block of discounted rooms reserved there - use the code <code>UPDATECODE</code> to get the group discount.
                    </td>
                </tr>
                <tr>
                    <th>Vacation rentals</th>
                    <td>
                        Both <a href="https://www.vrbo.com/">VRBO</a> and <a href="https://www.airbnb.com/">airbnb</a> have a number of vacation rentals in the area.
                        This is also a highly recommended and often more affordable option for those who don't mind something a bit more self-service.
                        You can use the following links to start your searches: <a href="https://www.vrbo.com/vacation-rentals/canada/ontario/niagara-on-the-lake?sleeps=2-plus&from-date=2016-07-01&to-date=2016-07-03">VRBO</a>, <a href="https://www.airbnb.com/s/Niagara~on~the~Lake--Canada?checkin=07%2F01%2F2016&checkout=07%2F03%2F2016&guests=2">airbnb</a>.
                    </td>
                </tr>
            </table>
            -->
            <h3 class="section-heading text-center">Things to Do</h3>
            <hr class="primary">
            <p>There's no shortage of things to do in metro-Detroit! Some ideas are listed below.</p>
            <h4>Downtown Detroit</h4>
            <p>If you have some extra time there is a lot to do in downtown Detroit! We recommend Campus Martius, Detroit Institute of Arts, Ready Player One, Belle Isle, and much more! For sightseeing photos a short walk away from Campus Martius the fist and liberty statue, also don't forget the tiger at Tigers stadium. There's also the Detroit Riverwalk where you can see Canada! </p>
            <h4>Downtown Farmington</h4>
            <p>A walk around downtown Farmington and enjoy the farmer's market on Saturdays! Enjoy brunch at one of our favorite resturants MI.mosa! (The chicken and waffles are SOOOO good) If you're up for some drinks Farmington Brewing Company and Up Arcade Bar!</p>
            <h4>Downtown Plymouth</h4>
            <p>A walk around downtown Plymouth and enjoy the scenery and fountain! If you're looking for a place to eat Barrios has the best tacos!!</p>
            <h4>Ann Arbor</h4>
            <p>Downtown Ann Arbor has a ton of great eats and walking distance to the University of Michigan campus. The Matthaei Botanical Gardens and Nichols Arboretum is also located close to downtown Ann Arbor!</Main></p>           
			<h4>Shopping</h4>
            <p>
				The closest mall to our venue is Twelve Oaks in Novi, but if you are looking for something more upscale we recommend the Somerset Collection in Troy. If you're looking for an outlet mall Great Lakes Crossing in Auburn Hills!
            </p>
            <h4>Eat</h4>
            <p>
                For Vietnamese food we recommend going to Madison Heights where there's a large selection of Vietnamese resturants. Our favorites are Little Saigon,.....
				For Korean BBQ our favorite spot is Dae Jang Keum in Troy!
				For medditerean food we recommend going to Dearborn! Our favorite is LA Bistro for sit down, and if you want a quick schwarma Bucharest Grill (multiple locations). For desserts Shatila in Dearborn has a large assortment of arabic pastries!
            </p>
            <h4>Drink</h4>
            <p>The Social Club - Detroit, Kuhnhenn Brewery - multiple locations</p>
        </div>
    </div>
</div>
