<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Paperless</h3>
            <hr class="light">
            <p>
                This is a paperless wedding.
                That means all of our save the dates, invitations, and thank-you notes are being delivered digitally.
                These small choices have helped us to enjoy a more eco-friendly wedding and save the trees.
                Thank you for your support and understanding!

            </p>
            <p><small>(In order to make up for the lack of paper invitations, Cory spent more time than he’d care to admit making this website.)</small></p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-cutlery"></i></div>
            <br>
            <h3 class="section-heading text-center">Organic</h3>
            <hr class="light">
            <p>
                Organic food means no persistent pesticides or synthetic fertilizers, which might have dangerous consequences on human health;
                no GMOs with unknown consequences for us and for our ecosystem;
                and better treatment of animals, including no synthetic growth or breeding hormones.
                It is a cause that Cory’s parents are extremely passionate about and something we were excited to bring to our wedding.
            </p>
            <p>
                All of the vines at Ravine Vineyard are organically certified.
                Ingredients for all food are locally sourced and organically inspired.
                Bonus: they bake their own bread, raise their own pigs, and grow their own certified organic vegetables!
            </p>
        </div>
    </div>
</div>
