{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">{% trans "¿Sin invitación?" %}</h3>
            <hr class="light">
            <p>
                {% blocktrans %}
                    No queremos hacer gastar papel innecesariamente, por lo que esta boda es una boda sin invitación física.
                    Si te hemos enviado este enlace estás invitado. Por favor, confirmanos tu asistencia. (tlf1,tlf2).
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
