<h2 class="section-heading text-center">Lista de Presentes</h2>
<hr class="dark">
<div class="container">
    <div class="col-lg-12 text-center">
        <p>
            Separamos a nossa lista de presente em duas.<br>
            Uma com jogos de cama e toalha, outra com produtos para o lar
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-home"></i></div>
            <br>
            <h3 class="section-heading text-center">Catran</h3>
            <hr class="dark">
            <p>
                Caso você queira nos presentear como um jogo de cama ou toalhas você pode acessar
                <a href="http://listadecasamento.catran.com.br/catran/100431177" class="dark catran">esse link da Catran</a>.

            </p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-shopping-cart"></i></div>
            <br>
            <h3 class="section-heading text-center">Pontofrio</h3>
            <hr class="dark">
            <p>
                Caso você queira nos presentear com algo para o nosso novo lar, você pode acessar
                <a href="https://casamento.pontofrio.com.br/#/lista-presentes/716332" class="dark">esse link do Pontofrio</a>.
            </p>
        </div>
    </div>
</div>
