<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Niagara-on-the-Lake</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Niagara-on-the-Lake is located about 30 minutes NW of Niagara Falls, near the border between the US and Canada.</p>
            <p>
                For those coming from Canada, it is a 1.5 hour drive South from Toronto's Pearson International Airport
                and a 1 hour drive East from Hamilton's John C. Munro International Airport.
            </p>
			<p>
                Those coming from the US might find it cheaper to drive to Buffalo or fly to Buffalo Niagara International Airport.
                The domestic flights to Buffalo are typically more cost-effective than flying internationally to Toronto.
                However, be sure to bring your passports and factor in additional travel time for the border crossing.
                There is a <a href="http://www.buffaloairportshuttle.com/">Buffalo Airport Shuttle</a> which offers transfers from the airport to Niagara-on-the-Lake.
            </p>
            <p>For those of you driving, we will try to facilitate carpooling with other guests.</p>
            <p>Bus service is also available to Niagara-on-the-Lake, though is not frequent and does require connecting through Niagara Falls. </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Below is a brief list of recommendations on places to stay in Niagara-on-the-Lake.
                It is Canada Day weekend - a big deal! - so we do recommend reserving your accommodation early.
                Cory and Ro will be staying in the town of Niagara-on-the-Lake, which is a great option if you can find a rental or B&B, though unfortunately it doesn't have a lot of big hotels.
            </p>
            <p>We will provide one shuttle from Hilton Garden Inn and a second shuttle from the town of Niagara-on-the-Lake to the venue.
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Hilton Garden Inn</th>
                    <td>
                        The <a href="http://hiltongardeninn3.hilton.com/en/hotels/ontario/hilton-garden-inn-niagara-on-the-lake-XLVNLGI/index.html">Hilton Garden Inn</a> is conveniently located just off the highway and very close to the wedding venue.
                        It is about a 20 minute drive to downtown Niagara-on-the-Lake.
                        We have a block of discounted rooms reserved there - use the code <code>LZW16</code> to get the group discount.
                    </td>
                </tr>
                <tr>
                    <th>White Oaks Resort</th>
                    <td>
                        The White Oaks is very close to - and similar to - the Hilton Garden Inn.
                        We were unable to get a group rate so just make a normal booking through <a href="http://www.whiteoaksresort.com/index.html">their website</a>.
                    </td>
                </tr>
                <tr>
                    <th>Hotels/Bed and Breakfasts in Town</th>
                    <td>
                        There are a large number of smaller hotels and B&B's in and around downtown Niagara-on-the-Lake.
                        We recommend just jumping on <a href="https://www.tripadvisor.co.za/Hotels-g154999-Niagara_on_the_Lake_Ontario-Hotels.html">trip advisor</a>, <a href="http://www.bedandbreakfast.com/niagara-on-the-lake-ontario.html">bedandbreakfast.com</a> or your favorite travel website and choosing a place.
                    </td>
                </tr>
                <tr>
                    <th>Vacation rentals</th>
                    <td>
                        Both <a href="https://www.vrbo.com/">VRBO</a> and <a href="https://www.airbnb.com/">airbnb</a> have a number of vacation rentals in the area.
                        This is also a highly recommended and often more affordable option for those who don't mind something a bit more self-service.
                        You can use the following links to start your searches: <a href="https://www.vrbo.com/vacation-rentals/canada/ontario/niagara-on-the-lake?sleeps=2-plus&from-date=2016-07-01&to-date=2016-07-03">VRBO</a>, <a href="https://www.airbnb.com/s/Niagara~on~the~Lake--Canada?checkin=07%2F01%2F2016&checkout=07%2F03%2F2016&guests=2">airbnb</a>.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>There's no shortage of things to do in Niagara! Some ideas are listed below.</p>
            <h4>Wine Tasting</h4>
            <p>
                If you have a designated driver, nothing beats a leisurely afternoon visiting a few of Niagara's beautiful vineyards and tasting the wine.
                If no one wants to drive, you can also <a href="http://zoomleisure.com/">rent a bike</a> or <a href="https://www.tripadvisor.com/Attractions-g154999-Activities-c42-t205-Niagara_on_the_Lake_Ontario.html">join a tour</a>.
                Follow the Niagara Wine Route.
            </p>
            <p>
                Trius has a fabulous high-end dining area.
                Inniskillin is renowned for their ice wine.
                For those of you who enjoy more full-bodied wines, Rowena is a fan of the Henry of Pelham Baco Noir Reserve.
                Southbrook is Canada’s first biodynamic winery and well known for excellent meals.
            </p>
            <h4>Niagara Falls</h4>
            <p>A walk around the falls at sunset or at night can be gorgeous. You can also take a ferry through them, though prepare to get wet!</p>
            <p>Around Niagara Falls is a thriving industry of haunted houses, a Butterfly Conservatory, Botanical Gardens, and even Niagara Falls Casino.</p>
            <h4>Golf</h4>
            <p>Plenty of scenic <a href="http://www.notlgolf.com/index.html">golf options</a> around town, many of them using the same grounds for vines as for courses.</p>
            <h4>Spa</h4>
            <p>Two of the nicest hotels in town host relaxing spas: Secret Garden Spa at Prince of Wales and 100 Fountain Spa at Pillar and Post.</p>
            <h4>Shopping</h4>
            <p>
                There is a long tradition of Americans flocking to Canada for discount shopping and Canadians flocking to America for the same.
                In addition to a variety of outlet malls on both sides of the border, Niagara-on-the-Lake town also features a very quaint downtown with lots of unique shops.
            </p>
            <h4>Theater</h4>
            <p>
                The Shaw theater festival will be taking place in NOTL this weekend, producing the works of Bernard Shaw and Shavian playwrights.
                Theaters are located in NOTL town.
            </p>
            <h4>Buffalo Wings</h4>
            <p>
                Probably not worth a dedicated trip, but Buffalo NY is the hometown of buffalo wings.
                So if you’re driving through anyways, might be a chance to pay homage.
            </p>
            <h4>Botanical Gardens</h4>
            <p>Some people like flowers. If you’re one of them, <a href="http://www.niagaraparks.com/niagara-falls-attractions/botanical-gardens.html">go here</a>. There’s even a butterfly conservatory.</p>
            <h4>Eat</h4>
            <p>
                Great meals can be found at <a href="http://www.thegarrisonhouse.ca/#!home/mainPage">Garrison House</a>, <a href="http://www.treadwellcuisine.com/">Treadwell</a>, and <a href="http://backhouse.xyz/">Backhouse</a>.
                <a href="http://www.twosistersvineyards.com/site/kitchen-76">Kitchen 72</a> inside the Two Sisters Vineyard serves delicious Italian food inside of an impressive estate.
            </p>
            <h4>Drink</h4>
            <p><a href="http://www.silversmithbrewing.com/">Silversmith Brewing</a> is an excellent local artisanal brewery offering offbeat new drinks.</p>
            <p>Some informal later-night options include The Olde Angel Inn, Sandtrap, and the Irish Harp.</p>
            <h4>Celebrate Canada Day!</h4>
            <p>
                On Friday night, July 1st, from the Southern banks of Lake Ontario on the north side of NOTL town, you will be able to see the fireworks light up across Toronto, Hamilton, and Niagara.
            </p>
            <h4>Celebrate America Day!</h4>
            <p>God knows what those Americans do. Have a BBQ?</p>
        </div>
    </div>
</div>
