{% load static %}
<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted"> </h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                Jacob and Kim went to get a quick bite at their favorite taco place - Barrios - and to check out the new fountain in downtown Plymouth! After dinner Jacob and Kim went on a walk to the fountain. It was the week leading up to Halloween, so there were fall and Halloween decorations on the way to the fountain. While admiring the new fountain, Jacob got down on one knee and popped the question! 
            </p>
        </div>
    </div>
	<div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/proposal1a.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
			<div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/proposal2a.JPEG' %}" class="img-responsive" alt="">
                </div>
            </div>
		</div>
	</div>
</section>
