<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">Ponte da Saudade - Paquetá, onde ficamos noivos.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">O Pedido</h2>
            <hr class="primary">
            <p>
                Logo no começo do ano, pouco depois do Carnaval, combinamos de fotografar em Paquetá.
                O plano inicial era simples. Seria de ver o por do sol na <b>Ponte da Saudade</b>,
                e nesse momento, o pedido acontecer.<br>
                Para a nossa surpresa, o dia amanheceu com previsão de chuva. Felizmente não choveu,
                mas também não teve o lindo por do sol que esperávamos.
            </p>
            <p>
                Tiramos fotos, rimos e nos divertimos tanto que nos perdemos, literalmente.
                Corremos para a <b>Ponte da Saudade</b>, onde sentamos e vimos o por do sol que estava começando.<br>
                Quando Isabella menos esperava, lá estava a aliança e o pedido,
                um novo passo de uma história que começamos a escrever juntos há muito tempo.
            </p>
            <small>
                <i>
                    Vale lembrar que Isabella ficou tão nervosa que chorou por 10 minutos e não disse sim até hoje.
                </i>
            </small>
        </div>
    </div>
</section>
