<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Nossa História</h2>
            <hr class="primary">
            <p>
                Acreditamos que cada pessoa que nós conheçemos foi colocada por Deus em nossas vidas.
                Cada uma com um propósito diferente.
            </p>
            <p>
                Nossa amizade começou na época do ensino médio e veio se extendendo até os dias de hoje.
                Sempre juntos, compartilhando bons e maus momentos. Criamos laços e viramos parceiros de todos os
                momentos, outback, cinemas, comidas mexicanas e atividades ao ar livre.
                Cada um da sua forma, um ligado aos esportes, outro ligado à atividades caseiras.
                Um fã de <b>Star Wars</b> e uma fã da <b>De Volta Para o Futuro</b>. Ela curte praia, ele curte o
                frio.<br>
                Aprendendo a nos descobrir melhor um no outro juntos.
            </p>
            <p>
                Uma história que começamos a constuir juntos há quase 5 anos. E hoje caminha para se tornar uma
                aliança, uma unidade, um pacto, um casamento.
            </p>
            <p>
                <small>
                    <br>
                    <i>
                        "Por essa razão, o homem deixará pai e mãe e se unirá à sua mulher, e eles se tornarão uma só
                        carne." - Gênesis 2:24
                    </i>
                </small>
            </p>
        </div>
    </div>
</div>
