<section id="story" class="bg-dark">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                Jake and Kim matched on a dating app. While chatting Kim mentioned she was at a Christmas pajama party and wearing a red and black buffalo check onesie. Jake mentioned he was also wearing reg and buffalo check, but just pj pants! They just happened to be wearing the same thing in two different places. It was fate! That's when they decided it was time to go on a date. Their first date was scheduled for New Year's day. On NYE Kim went to Lansing with her friends to celebrate, while Jake went to his friend's house. Kim carpooled with her friend to Lansing and had to convince her friend to drive her back home the morning of New Year's in order to make it on time to the date. Kim and Jake were both really tired and debated on rescheduling, but they both made it to their lunch sushi date! They hit it off and have been with each other ever since!
            </p>
            <p>

            </p>
        </div>
    </div>
</div>
</section>