<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="section-heading text-center">Things to Do</h3>
            <hr class="primary">
            <p>There's no shortage of things to do in metro-Detroit! Some ideas are listed below.</p>
            <h4>Downtown Detroit</h4>
            <p>If you have some extra time there is a lot to do in downtown Detroit! We recommend Campus Martius, Detroit Institute of Arts, Ready Player One, Belle Isle, and much more! For sightseeing photos a short walk away from Campus Martius the fist and liberty statue, also don't forget the tiger at Tigers stadium. There's also the Detroit Riverwalk where you can see Canada! </p>
            <h4>Downtown Farmington</h4>
            <p>A walk around downtown Farmington and enjoy the farmer's market on Saturdays! Enjoy brunch at one of our favorite resturants MI.mosa! (The chicken and waffles are SOOOO good) If you're up for some drinks Farmington Brewing Company and Up Arcade Bar!</p>
            <h4>Downtown Plymouth</h4>
            <p>A walk around downtown Plymouth and enjoy the scenery and fountain! If you're looking for a place to eat Barrios has the best tacos!!</p>
            <h4>Ann Arbor</h4>
            <p>Downtown Ann Arbor has a ton of great eats and walking distance to the University of Michigan campus. The Matthaei Botanical Gardens and Nichols Arboretum is also located close to downtown Ann Arbor!</Main></p>           
			<h4>Shopping</h4>
            <p>
				The closest mall to our venue is Twelve Oaks in Novi, but if you are looking for something more upscale we recommend the Somerset Collection in Troy. If you're looking for an outlet mall Great Lakes Crossing in Auburn Hills!
            </p>
            <h4>Eat</h4>
            <p>
                For Vietnamese food we recommend going to Madison Heights where there's a large selection of Vietnamese resturants. Our favorites are Little Saigon, Quan Ngon, and Que Huong.
				For Korean BBQ our favorite spot is Dae Jang Keum in Troy!
				For medditerean food we recommend going to Dearborn! Our favorite is LA Bistro for sit down, and if you want a quick schwarma Bucharest Grill (multiple locations). For desserts Shatila in Dearborn has a large assortment of Arabic pastries!
            </p>
            <h4>Drink</h4>
            <p>The Social Club - Detroit <br>
                Kuhnhenn Brewery - multiple locations</p>
        </div>
    </div>
</div>
