{% load static %}
<section id="wedding-party">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Bridal Party</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/teresale3.jpg' %}" class="img-responsive" alt="">
                    <h3>Teresa Le</h3>
                    <p class="text-muted">Maid of Honor <br> Sister of the bride. </p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/justinebuda3.jpg' %}" class="img-responsive" alt="">
                    <h3>Justine Buda</h3>
                    <p class="text-muted">Maid of Honor <br> Friend of the bride. </p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/hongngo.jpg' %}" class="img-responsive" alt="">
                    <h3>Hong Ngo</h3>
                    <p class="text-muted">Bridesmaid <br> Cousin of the bride. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/christinacleveland.jpg' %}" class="img-responsive" alt="">
                    <h3>Christina Cleveland</h3>
                    <p class="text-muted">Bridesmaid <br> Friend of the bride. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/tramnguyen.jpg' %}" class="img-responsive" alt="">
                    <h3>Tram Nguyen</h3>
                    <p class="text-muted">Bridesmaid <br> Friend of the bride. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/linhnguyen.jpg' %}" class="img-responsive" alt="">
                    <h3>Linh Nguyen</h3>
                    <p class="text-muted">Bridesmaid <br> Family friend of the bride. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Groomsmen</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/pjrener.jpg' %}" class="img-responsive" alt="">
                    <h3>PJ Rener</h3>
                    <p class="text-muted">Bestman <br> Brother of the groom. </p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/granthartshorn.jpg' %}" class="img-responsive" alt="">
                    <h3>Grant Hartshorn</h3>
                    <p class="text-muted">Bestman<br> Friend of the groom. </p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/mikemiceli.jpg' %}" class="img-responsive" alt="">
                    <h3>Michael Miceli</h3>
                    <p class="text-muted">Groomsman<br> Friend of the groom. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/philklatt.jpg' %}" class="img-responsive" alt="">
                    <h3>Phil Klatt</h3>
                    <p class="text-muted">Groomsman<br> Brother in law of the groom. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/ericalaniz.jpg' %}" class="img-responsive" alt="">
                    <h3>Eric Alaniz</h3>
                    <p class="text-muted">Groomsman<br> Friend of the groom. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/nicksowa.jpg' %}" class="img-responsive" alt="">
                    <h3>Nick Sowa</h3>
                    <p class="text-muted">Groomsman<br> Friend of the groom. </p>
                </div>
            </div>
        </div>
    </div>
</section>
