{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
<header>
        <nav class="navbar navbar-expand-lg navbar-trans navbar-dark container">
            <a href="/" class="g-logo"><img src="{% static 'bigday/images/logo.jpg' %}" alt="logo"></a>
            <div class="navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ LANGUAGE_CODE }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for lang_code, lang_name in LANGUAGES %}
                        {% if lang_code != LANGUAGE_CODE %}
                        {% language lang_code %}
                        <a class="dropdown-item" href="{% url 'g_home' %}" title="{{ lang_name }}">{{ lang_code }}</a>
                        {% endlanguage %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
<main class="main">
    <h1 class="main-title">{% trans "Our Paper Anniversary" %}</h1>
    <section class="text-center gallery container">
        <a class="g-back-block" href="/"><span class="g-back-button">{% trans "Back" %}</span></a>
        <div class="galleria">
            {% for file_name in photos %}
                {% with './../media/photologue/photos/'|add:file_name as image_static %}
                    <img src="{% static image_static %}"/>
                {% endwith %}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
{% block page_js %}
<script src="{% static 'galleria/galleria-1.5.7.min.js' %}"></script>
<script>
	(function() { 
        Galleria.loadTheme('../../static/galleria/themes/folio/galleria.folio.min.js');
        Galleria.configure({
            lightbox: true,
            transition: 'fade',
            autoplay: 7000
        });
        Galleria.run('.galleria');
    }());
</script>
{% endblock %}