{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Modified from https://github.com/IronSummitMedia/startbootstrap-creative -->
    <title>Ro and Cory's big day</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include "partials/google-analytics.html" %}
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Ro and Cory's Big Day</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#event">Event</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#accommodations">Where to Stay</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#save-the-dates">Save the Dates</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Cory and Rowena's Wedding</h1>
                <hr>
                <p>More than you ever wanted to know about Cory, Rowena, and the event.</p>
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome Note</a>
                <a href="#navigation" class="btn btn-primary btn-xl page-scroll">Look Around</a>
            </div>
        </div>
    </header>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome!</h2>
                    <hr>
                    <p>
                        Hello friends and family! Welcome to our website!
                    </p>
                    <p>
                        This is the go-to stop for all information about the wedding.
                        We'll continue to update this site over time.
                    </p>
                    <p>
                        We can't wait to celebrate the day with everyone!
                    </p>
                    <p class="pull-right">- Cory and Rowena</p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#story" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/twelve-apostles-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Our Story
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/ravine-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    The Event
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#accommodations" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/prince-of-wales-hotel-nav.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Where to Stay
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
{% comment %}
                <div class="col-lg-4 col-sm-6">
                    <a href="#wedding-party" class="portfolio-box page-scroll">
                        <img src="{% static 'creative/img/portfolio/4.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Wedding Party
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box page-scroll">
                        <img src="{% static 'creative/img/portfolio/5.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Photo Album
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box page-scroll">
                        <img src="{% static 'creative/img/portfolio/6.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Gifts
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
{% endcomment %}
            </div>
        </div>
    </section>
    <section id="story">
        {% include 'partials/story.html' %}
    </section>
    <header id="second-header" class="secondary"></header>
    <section id="event" class="bg-dark">
        {% include 'partials/event.html' %}
    </section>
    <section id="accommodations">
        {% include 'partials/accommodations.html' %}
    </section>
{% comment %}
        {% include 'partials/wedding-party.html' %}
{% endcomment %}
        {% include 'partials/save-the-dates.html' %}
    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us!</h2>
                    <hr class="primary">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:hello@coryandro.com">hello@coryandro.com</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <!-- jQuery -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
    <script src="{% static 'creative/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
</body>

</html>
