{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block page_content %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">{% trans "Théo et Violetta's big day" %}</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{% trans "Home" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Event" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Practical Information" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ LANGUAGE_CODE }}</a>
                    <div class="dropdown-menu">
                        {% for lang_code, lang_name in LANGUAGES %}
                            {% if lang_code != LANGUAGE_CODE %}
                                {% language lang_code %}
                                    <a class="dropdown-item" href="{% url 'home' %}"
                                       title="{{ lang_name }}">{{ lang_code }}</a>
                                {% endlanguage %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    {% block main %}
        <h1>{% trans "Théo and Violetta are getting maried!" %}</h1>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
